@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/HomeStyle.css" rel="stylesheet">
<div class="home-background">
    <img src="~/images/HomeImage.jpg" alt="Imagen de fondo" class="background-image">
    <div class="overlay">
        THESIS DEFENSE
    </div>
</div>

